sudo: false
dist: trusty

language: python

python:
  - 3.5
  - 3.6

install:
  - eval "$(curl -Ss https://raw.githubusercontent.com/neovim/bot-ci/master/scripts/travis-setup.sh) nightly-x64"
  - make install

script:
  - make --keep-going test lint
